service: gestin-fichiers-app

provider:
  name: aws
  runtime: nodejs18.x
  stage: dev
  region: us-east-1

  environment:
    DB_NAME: ${env:DB_NAME}
    DB_USER: ${env:DB_USER}
    DB_PASSWORD: ${env:DB_PASSWORD}
    DB_HOST: ${env:DB_HOST}
    JWT_SECRET_KEY: ${env:JWT_SECRET_KEY}
    JWT_EXPIRE_IN: ${env:JWT_EXPIRE_IN}
    JWT_REFRESH_SECRET_KEY: ${env:JWT_REFRESH_SECRET_KEY}
    JWT_REFRESH_EXPIRE_IN: ${env:JWT_REFRESH_EXPIRE_IN}

functions:
  health:
    handler: src/handlers/healthHandler.health
    events:
      - httpApi:
          path: /api/health
          method: GET

  createUser:
    handler: src/handlers/userHandler.createUser
    events:
      - httpApi:
          path: /api/users
          method: POST

  login:
    handler: src/handlers/authHandler.loginHandler
    events:
      - httpApi:
          path: /api/auth/login
          method: POST

  refreshToken:
    handler: src/handlers/authHandler.refreshTokenHandler
    events:
      - httpApi:
          path: /api/auth/refresh_token
          method: POST

  createCategory:
    handler: src/handlers/categoryHandler.createCategoryHandler
    events:
      - httpApi:
          path: /api/category
          method: POST

plugins:
  - serverless-offline